html,
body {
    background-color: #e1e6d3;
    margin: 0;
}

h1 {
    margin: 0;
}

.menu {
    background-color: #b1ccc4;
    border-radius: 5%;
    padding-right: 10px;
    border-color: blue;
}

.home-separator {
    display: inline-block;
    width: 10%;
    text-align: center;
}

.title-separator {
    display: inline-block;
    border-color: green;
}

.title {
    text-align: center;
    color: #272829;
    font-family: Geneva, Verdana;
}

#home-button {
    text-decoration:underline;
    color: #272829;
    font-size: 20px;
    margin: auto;
}

.center-p {
    width: 700px;
    margin: 0 auto;
}

img {
    display: block;
    width: 500px;
    margin: 10px auto;
    border-radius: 5%;
    box-shadow: 5px 5px 5px #888888;
    filter: drop-shadow(8px 8px 10px gray);
    border-radius: 5%;
}